[Unit]
Description=zcam service %I
After=network.target

[Service]
Type=simple
User=kcam
ExecStart=/home/camera/.venv/bin/zcam-service-%i -f /home/camera/camera.conf -f /home/camera/camera-%i.conf -v
Restart=on-failure

[Install]
WantedBy=multi-user.target
